@import url('https://fonts.googleapis.com/css2?family=Anton&family=Freeman&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');


:root{
    --paleta-masc0:#022720;
    --paleta-masc1:#C6C764;
    --paleta-masc2:#5E7444;
    --paleta-masc3:#0D662F;
    --paleta-masc4:#AE9F3B;
    --paleta-masc5:#80A42A;

    --paleta-fem0:#463668;
    --paleta-fem1:#F1DAD1;
    --paleta-fem2:#8C7BB6;
    --paleta-fem3:#B685BA;
    --paleta-fem4:#E294B4;
    --paleta-fem5:#8C7BB6;

    --paleta-n0:#26343C;
    --paleta-n1:#D6E1ED;
    --paleta-n2:#71858F;
    --paleta-n3:#435469;
    --paleta-n4:#A2BFCF;
    --paleta-n5:#DDDDDD;

    --usando0: #26343C;
    --usando1:#D6E1ED;
    --usando2:#71858F;
    --usando3:#435469;
    --usando4:#A2BFCF;
    --usando5:#DDDDDD;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--usando1);
    font-family: "Poetsen One", open;
    color:var(--usando0);
    overflow-x: hidden;
    
    
}
h2{
    margin:20px 0;
}
p{
    text-align: justify;
}
::-webkit-scrollbar{
    background: var(--usando1);
    width:0.5rem;
   
}
::-webkit-scrollbar-thumb{
    background-color: var(--usando0);
    border-radius: 5px;

}

/*-----------------------BARRA LATERAL----------------------*/
nav{
    grid-column: 1;
    width:15vw;
    height:98vh;
    position:fixed;
    background: var(--usando0);
    margin:1vh;
    border-radius: 20px;    
    
    padding:20px;
    
    
}


nav a{
    text-decoration: none;
}
hr{
    margin:20px 0;
    border-color: var(--usando0);
}
.paleta{
    
    width:27px;
    height:27px;
    margin: 5px;
    
    display: inline-block;
    border:1px solid var(--usando1);
    border-radius: 50%;
    filter:invert(100%);
    border:1px solid var(--usando0);
}

.default:hover{
    cursor: pointer;
    background: linear-gradient(#26343C,
    #435469,
    #71858F,
    #A2BFCF,
    #D6E1ED,
    #DDDDDD);
}
.femenino:hover{
    cursor: pointer;
    background: linear-gradient(#463668,
    #8C7BB6,
    #8C7BB6,
    #B685BA,
    #E294B4,
    #F1DAD1
    );
}
.masculino:hover{
    cursor: pointer;
    background: linear-gradient(#022720,
    #0D662F,
    #5E7444,
    #80A42A,
    #C6C764,   
    #AE9F3B
    );
}
/*linear-gradient(var(--paleta-masc1),var(--paleta-masc2),var(--paleta-masc3),var(--paleta-masc4))*/
.side{
    width:100%;
    height: auto;
    padding:2px;
    border-radius: 20px;
    
    margin: 20px 0;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--usando1);
}
.side img{
    margin:5px;
}
.side:first-of-type{
    margin: 0 0 20px 0;
}

.side:hover{
    box-shadow: inset -100px 0 0 0 var(--usando1),inset 100px 0 0 0 var(--usando1) ;
    
    color: var(--usando0)
}
.side:hover img, .side:hover div{
    transition: .3s ease-in-out;
    filter:invert(100%);
}
.space{
    height:7vh;

}
/*---------------------------------------*/


/*------------------------PRINCIPAL----------------------*/

main{
    margin-left: 16vw;
    padding: 20px;
    
}


.container{
    background: /*var(--palette2)*/ var(--usando4);
    border-radius: 20px;
    padding: 10px 30px;
    
}
h1 {
    margin-bottom:20px;
    font-size: 3rem;
    
}
p {
    margin: 20px 0;
}
.agregar{
    margin: 20px 0;
    width:200px;
    height:40px;
    background: var(--usando4);
    border-radius: 20px;
    border: 2px solid var(--usando0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.space{
    width:10px;
}
.agregar img{
    filter:invert(100%);
    width:30px;
}

.agregar:hover{
    box-shadow: inset -100px 0 0 0 var(--usando0),inset 100px 0 0 0 var(--usando0) ;
    transform: scale(1.2)translateX(10px);
    color: var(--usando1);
    cursor: pointer;

}
.agregar:hover img{
    transition: all .3s ease-in-out;
    filter:invert(0);
}
.flex{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.vista{
    margin: 20px 0;
    width:100px;
    height:40px;
    background: var(--usando4);
    border-radius: 20px;
    border: 2px solid var(--usando0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

}
.vista:hover{
    
    box-shadow: inset -100px 0 0 0 var(--usando0),inset 100px 0 0 0 var(--usando0) ;
    transform: scale(1.2)translateX(-10px);
    color: var(--usando1);
    cursor: pointer;
    
    
}
.grid{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    border-right: 1px solid var(--usando0);    
    border-bottom: 1px solid var(--usando0);
    min-height: 350px;
    
}
.info{
    padding:10px;
    height:calc(100% - 40px);
    border-left: 1px solid var(--usando0);
    border-top: 1px solid var(--usando0);
}

.ref{
    border-top: 1px solid var(--usando0);;
    border-left: 1px solid var(--usando0);
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#right-left{
    margin:30px;
    border: 2px solid var(--usando0);
    height:40px;
    width:80px;
    background: var(--usando4);
    display:flex;
    justify-content: space-between;
}
#right-left div{
    height:100%;
    width:0;
    border: 1px solid var(--usando0);
}
#right-left img{
    filter:invert(100%);
    width:100%;
}

#right-left img:hover{
    box-shadow: inset -100px 0 0 0 var(--usando0),inset 100px 0 0 0 var(--usando0) ;
    transition: all .3s ease-in-out;
    filter:invert(0);
    cursor: pointer;
}



/*---------------------Media Queries------*/

@media  only screen and (max-width:900px){

    nav{
        width:50px;
        padding:5px;
        
        border-radius: 25px;
        overflow-y: hidden;
    }
    .side{
    width:40px;
    height:40px;
    border-radius:50%;
    }
    .side:first-of-type{
        margin-top: 15px;
    }
    .side span{
        display:none;
    }
    .space{
            height:9vh;
        
        }
    .colores{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        
        height:auto;         
        border-radius: 20px;  
    }


        main{
            display:block;
            margin-left: 10vw;
        }

        .separar{
            
            width:100%;
            justify-items: start;
        }
        .colores:hover{
            box-shadow: none ;
            
        }
        .colores:hover .paleta{
            border: 1px solid var(--usando1);
        }

    

}
@media  only screen and (max-height:400px){

    nav{
        width:50px;
        padding:5px;
        
        border-radius: 25px;
        overflow-y: scroll;
    }
    .side{
    width:40px;
    height:40px;
    border-radius:50%;
    }
    .side:first-of-type{
        margin-top: 15px;
    }
    .side span{
        display:none;
    }
    .space{
            display:none;
        
        }
        .colores:hover{
            box-shadow: none ;
            background: none;
            color: none;
        }

}
